/* group.css */

.group-page {
  display: flex;
  height: 100vh;
  background-color: #f4f6f8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.group-details {
  flex: 1;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  border-left: 1px solid #e0e0e0;
}

.group-details h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #0077ff;
}

/* members styles */

.members-list,
.balances-section {
  margin-top: 2rem;
}

.members-list h2,
.balances-section h2 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.members-list ul {
  list-style: none;
  padding: 0;
}

.members-list li {
  background: #f0f4ff;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #333;
}

/* balances styles */

.balances-section p {
  margin-bottom: 0.6rem;
  background-color: #f9f9f9;
  padding: 0.5rem 1rem;
  border-left: 4px solid #0077ff;
  border-radius: 6px;
  font-weight: 500;
  color: #444;
}

.expense-btn{
  padding: 20px;
  margin-right: 30px;
  margin-bottom: 5px;
  background-color: #0077ff;
  border: none;
  font-weight: 500;
  border-radius: 50px;
}

/* add member styles */

/* .add-member-section {
  margin-top: 2rem;
}

.add-member-form {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.add-member-form input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.add-member-form button {
  padding: 0.5rem 1rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.add-member-form button:hover {
  background-color: #005fcc;
}

.add-member-msg {
  margin-top: 0.5rem;
  color: #007700;
  font-weight: 500;
} */


/*  Expense List Styles */
.expense-list {
  margin-top: 2rem;
}

.expense-item {
  position: relative;
  border-left: 5px solid #0077ff;
  padding: .7rem 1rem;
  background: #ffffff;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.expense-item:hover {
  background: #eef4ff;
}

.expense-item-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.25rem;
}

.expense-item-description {
  color: #666;
  margin-bottom: 0.5rem;
  font-size: 17px
}

.expense-item-split {
  font-size: 0.85rem;
  color: #444;
}

.expense-item-actions {
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

